@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;800;900&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  max-width: 100%;
  max-height: 100%;
  font-family: 'inter';
}

a {
  text-decoration: none;
  color: #101828;
}

.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 30px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 80%;
  height: 40rem;
}


#profile_img {
  width: 90px;
  height: auto;
  border-radius: 50%;
}

.button {
  padding: 20px;
  align-items: center;
  display: block;
  text-align: center;
  background-color: rgb(230, 230, 230);
  border-radius: 8px;
}

.button:hover {
  background-color: #666666;
}

.logo {
  width: 40px;
  height: auto;
  margin: 10px;
}

.linkSection {
  height: 30rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.socialSection {
  margin-top: 20px;
  width: 80%;
  padding: 20px;
}

.footer {
  width: 80%;
  height: 10rem;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.content2 {
  height: inherit;
  width: 100%;
  flex-direction: row;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer p {
  color: #667085;
}

.hide {
  display: none;
}

.hngLogo {
  width: 90px;
  height: auto;
  margin: 0 10px;
}

@media screen and (min-width:375px) {
  .button a {
    font-size: 14px;
  }

  .footer p {
    color: #667085;
    font-size: 0.85rem;
  }

  .hngLogo {
    width: 90px;
    height: auto;
    margin: 0 10px;
  }

  .content2 {
    display: flex;
    flex-wrap: wrap;
  }

  .footer {
    text-align: left;
    margin-top: 50px;
  }

}