@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;800;900&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  max-width: 100%;
  max-height: 100%;
  font-family: 'inter';
}

a {
  text-decoration: none;
  color: #101828;
}

.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 30px;
  margin-top: 40px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 90%;
  height: 40rem;
}


#profile_img {
  width: 88px;
  height: auto;
  border-radius: 50%;
}

.profile {
  position: relative;
}

.button {
  padding: 20px;
  align-items: center;
  display: block;
  text-align: center;
  background-color: rgb(230, 230, 230);
  border-radius: 8px;
}

.button:hover {
  background-color: #666666;
}

.logo {
  width: 24px;
  height: 24px;
  height: auto;
  margin: 10px;
}

.linkSection {
  height: 30rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.socialSection {
  margin-top: 20px;
  width: 80%;
  padding: 20px;
}

.footer {
  width: 95%;
  height: 15rem;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.content2 {
  height: 100%;
  width: 100%;
  flex-direction: row;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.footer p {
  color: #667085;
}

.hide {
  display: none;
}

.icon-background {
  display: flex;
  -moz-box-align: center;
  align-items: center;
  -moz-box-pack: center;
  justify-content: center;
  position: absolute;
  width: 40px;
  height: 40px;
  top: -1.2rem;
  right: 15%;
  background: transparent;
  border: 2px dotted lightgrey;
  border-radius: 100%;
  cursor: pointer;
  z-index: -2;
}


.hngLogo {
  width: 90px;
  height: auto;
  margin: 0 10px;
}

@media screen and (min-width:200px) {
  .profile {
    position: relative;
  }

  .icon-background {
    display: flex;
    -moz-box-align: center;
    align-items: center;
    -moz-box-pack: center;
    justify-content: center;
    cursor: pointer;
    position: absolute;
    width: 40px;
    height: 40px;
    top: -1.2rem;
    right: 0;
  }

  .seen {
    display: none;
  }

  .seen2 {
    display: block;
  }

  .content2 {
    height: 100%;
    width: 100%;
    flex-direction: row;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .content2 div {
    align-self: center;
  }

  .border {
    margin: 0;
    padding: 0;
    align-self: flex-start;
  }

  .border img {
    margin: 0;
    padding: 0;
  }

  .hngLogo {
    margin: 0;
    padding: 0;
  }

  .border p {
    text-align: left;
  }

  .footer {
    height: 8rem;
  }
}

@media screen and (min-width: 500px) {
  .profile {
    position: relative;
  }

  .icon-background {
    display: flex;
    -moz-box-align: center;
    align-items: center;
    -moz-box-pack: center;
    justify-content: center;
    position: absolute;
    width: 40px;
    height: 40px;
    top: -1.2rem;
    right: 15%;
    background: transparent;
    border: 2px dotted lightgrey;
    border-radius: 100%;
    cursor: pointer;
    z-index: -2;
  }

  .seen {
    display: block;
  }

  .seen2 {
    display: none;
  }

  .footer {
    width: 90%;
    height: 15rem;
  }
}

@media screen and (min-width: 750px) {
  .footer {
    width: 95%;
    height: 15rem;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}

